In [1]:
print("Hello, jupyter!")

Hello, jupyter!

In [2]:
8+5

13

# 들어가기 : 주석

# 표준 입력과 표준 출력

In [12]:
12345
10
# ipython 라이브러리의 기본 기능
# print(12345) 표준출력 기능을 내장하고 있다.

10

In [13]:
print(12345)
10

12345

10

In [14]:
'12345'

'12345'

In [15]:
type('12345')

str

In [16]:
type(12345)

int

In [17]:
12345+10

12355

In [20]:
#'12345'+10  #typeerror

In [21]:
type("12345")

str

In [22]:
"12345"*3

'123451234512345'

In [23]:
input('당신의 이름을 입력하세요')

당신의 이름을 입력하세요 김지영

'김지영'

In [25]:
age = input('당신의 나이를 입력하세요')
age

당신의 나이를 입력하세요 25

'25'

In [28]:
name = input('당신의 이름을 입력하세요')
name

당신의 이름을 입력하세요 김지영

'김지영'

In [30]:
print (age, name)

25 김지영

In [33]:
print("나는 "+name+ "이고 나이는 "+age+ "입니다.")

나는 김지영이고 나이는 25입니다.

In [37]:
age = int (age)

In [38]:
age+10

35

In [39]:
# 자기 이름으로 삼행시 짓기

print('바: 바밤바는 ')
print('밤: 밤이 들어 있는 ')
print('바: 바이다')

바: 바밤바는
밤: 밤이 들어 있는
바: 바이다

In [40]:
print('김: 김치볶음밥 맛있겠다')
print('지: 지금 배고픈데')
print('영: 영업하는 곳 있나')

김: 김치볶음밥 맛있겠다
지: 지금 배고픈데
영: 영업하는 곳 있나

In [44]:
print('삼행시 이름 넣기')
first = input('첫 글자 입력하세요')
print(first + ": 김치볶음밥 맛있겠다")
second = input('두 번째 글자 입력하세요')
print(second+": 지금 배고픈데")
third = input('세 번째 글자 입력하세요')
print(third + ": 업하는 곳 있나")

삼행시 이름 넣기

첫 글자 입력하세요 김

김: 김치볶음밥 맛있겠다

두 번째 글자 입력하세요 지

지: 지금 배고픈데

세 번째 글자 입력하세요 영

영: 업하는 곳 있나

In [47]:
line1 = input('김: ')
line2 = input('지: ')
line3 = input('영: ')

김:  김치볶음밥 맛있겠다
지:  지금 배고픈데
영:  영업하는 곳 있나

In [49]:
print(line1, line2, line3, sep='\n ')  #줄바꿈 기호

김치볶음밥 맛있겠다
 지금 배고픈데
 영업하는 곳 있나

문자열의 시작이 \ 역슬래시 -> 이스케이스 문자, 특수 문자 \n \t \\

In [53]:
삼행시 = line1 + '\n' + line2 + '\n' + line3
print(삼행시)

김치볶음밥 맛있겠다
지금 배고픈데
영업하는 곳 있나

# 변수

변수는 type safe : 변수를 선언할 때 타입(유형)을 지정하지 않아도 되는 특성   
변수명 = 값   

## 변수의 명명규칙
1. 문자, 숫자, 밑줄(_)을 가지고 만든다
2. 숫자로 시작하면 X
3. 대소문자를 구분
4. 예약어, 특수기호, 공백 X

In [55]:
x = 10
y = 'hello'
z = 3.141592
x, y, z

(10, 'hello', 3.141592)

In [57]:
type(x), type(y), type(z)

(int, str, float)

In [58]:
print(type(x), type(y), type(z))

<class 'int'> <class 'str'> <class 'float'>

In [59]:
a, b, c = 10, 20, 30
a, b, c

(10, 20, 30)

In [60]:
a = b = c = 40
a, b, c

(40, 40, 40)

In [62]:
d = True  #bool형
e = None  #type이 없음 NoneType
d, e

(True, None)

In [1]:
a = 10
b = a
print(a, b)
id(a), id(b)

10 10

(140723126414040, 140723126414040)

In [4]:
aa = 100
bb = 100
print(aa, bb)
id(aa), id(bb)

100 100

(140723126416920, 140723126416920)

In [5]:
# 의미 부여하기 어려운 변수명 > 수식이 아닌 경우는 사용하지 않음
x = 100
y = 100

# 의미 있는 변수명
age = 20
name = '김지영'
user_name = 'Alic'
admin_name = 'Bob'

#대문자 Upper-case 상수에 사용
PI = 3.141592
MAX_CONNECTIONS = 10  # 최대 연결 수
MIN_VALUE = 0  #최소값

# NAME_SPACE

변수가 최초로 정의된 영역에 따라 유효범위가 결정됩니다.

- 지역변수 : 함수 영역 내에서 선언한 변수
- 전역변수 : 함수 영역 밖에서 선언한 변수, global 키워드
- 정적변수 : 클래스에서 사용하는 변수

In [9]:
# 지역변수
def local_example():
    local_var = 100
    print('여기는 함수의 영역입니다' , local_var)

#local_var  #NameError : name 'local_var' is not defined
local_example()

여기는 함수의 영역입니다 100

In [24]:
# 전역변수
global_var = '나는 전역이다'
print(global_var)

def global_example():
    print('여기는 함수의 영역입니다', local_var, global_var)

global_example()

나는 전역이다

NameError: name 'local_var' is not defined

In [28]:
var_test = '나는 전역이다'
print(var_test)

def global_example():
    global var_test
    var_test = 100
    print('여기는 함수의 영역입니다', var_test)

global_example()
print(var_test)

나는 전역이다
여기는 함수의 영역입니다 100
100

In [38]:
# 변수 영역 연습

counter = 0  #global 변수

def increment_counter():
    global counter
    counter = counter + 1  #  counter += 1 과 같다
    print('카운터 : ', counter)

increment_counter()
increment_counter()
increment_counter()

카운터 :  1
카운터 :  2
카운터 :  3

# 교재 변수 연습

In [39]:
a = 1
b = 'python'
c = [1, 2, 3]
a, b, c

(1, 'python', [1, 2, 3])

In [40]:
a = [1, 2, 3]
id(a)

2114740414272

In [41]:
a = [1, 2, 3]
b = a
id(a), id(b)

(2114739599168, 2114739599168)

In [42]:
a is b

True

In [44]:
a[1] = 4
a, b

([1, 4, 3], [1, 4, 3])

In [46]:
a = [1, 2, 3]
b = a[:]
a[1] = 4
a, b, id(a), id(b)

([1, 4, 3], [1, 2, 3], 2114740409920, 2114740187328)

In [47]:
from copy import copy
a = [1, 2, 3]
b = copy(a)
b is a

False

In [48]:
print('Hello World')

Hello World

In [49]:
print("Mary's cosmetics")

Mary's cosmetics

In [50]:
print('신씨가 소리질렀다. "도둑이야."')

신씨가 소리질렀다. "도둑이야."

In [52]:
print("C:\Windows")

C:\Windows

<>:1: SyntaxWarning: invalid escape sequence '\W'
<>:1: SyntaxWarning: invalid escape sequence '\W'
C:\Users\Admin\AppData\Local\Temp\ipykernel_20080\3538380946.py:1: SyntaxWarning: invalid escape sequence '\W'
  print("C:\Windows")

In [53]:
print('안녕하세요.\n만나서\t\t반갑습니다.')

안녕하세요.
만나서		반갑습니다.

In [55]:
print("오늘은", "일요일")

오늘은 일요일

In [57]:
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung

In [58]:
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [61]:
print('first', end="");print('second')

firstsecond

In [63]:
print(5/3)

1.6666666666666667

In [64]:
삼성전자 = 50000
총평가금액 = 10*삼성전자
print(총평가금액)

500000

In [65]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [67]:
s = "hello"
t = "python"
print(s+"!",t)

hello! python

# 자료형

- 기본 자료형 : 숫자형, 문자열형 str, 부울형
- 복합 자료형 : 리스트, 셋, 튜플, 딕셔너리

| type | 설명 | 예 |
|--------|--------|--------|
| 정수형 (int) | 정수를 저장하는 자료형 | 1, -5, 100 |
| 실수형 (float) | 소수점이 있는 숫자를 저장하는 자료형 | 3.14, -0.001, 2.0 |
| 문자열 (str) | 텍스트를 저장하는 자료형 | "Hello", '파이썬' |
| 논리형 (bool) | 참/거짓 값을 저장하는 자료형 | True, False|

- 수정 불가능한 데이터 타입 : 수치형, 부울형, 문다열, 튜플
- 수정 가능한 데이터 타입 : 리스트, 딕셔너리, 셋

In [76]:
# 수치형 - int
20, type(20)

(20, int)

In [77]:
age = 20
type(age)

int

1. 진법 : 10진수, 2진수, 8진수, 16진수
2. 입력하는 방법은 다르지만, print() 결과는 동일하다.

In [84]:
a = 10
b = 0b0101  # 2진수 - 0, 1로 표현하는 방법 -> 0101 = 2^2 + 2^0 = 
a, b

(10, 5)

In [85]:
c = 0o10  # 0o 8진수, 10 -> 8^1 + 0^0 = 8
c

8

In [86]:
d = 0b1000
d

8

In [87]:
e = 0x16d  # 1*16^2 + 6*16^1 + 13*16^0 = 256+96+13
e

365

In [88]:
# float
b = 3.14
b, type(b)

(3.14, float)

지수의 표기

숫자 e2 -> 10^2의 곱 = 10**2
숫자 e-2 -> 10^-2의 곱 = 10**-2

In [89]:
fa = 10e2
fa

1000.0

In [90]:
fb = 10e-2
fb

0.1

In [92]:
fc = 3.1415e9
fc

3141500000.0

BOOLEAN값 - True, False
논리연산, 비교연산

In [93]:
ba = True
bb = true
type(ba), type(bb)

NameError: name 'true' is not defined

In [94]:
ba == 1

True

In [95]:
ba == 'True'

False

In [97]:
#논리 연산자 - and or not

bc = 1
ba and bc

1

In [98]:
# 사칙연산 + - * / // %
a = 2
b = 3

In [105]:
a+b
a-b
a*b
a/b, a//b, a%b  #몫, 나머지

(0.6666666666666666, 0, 2)

In [109]:
#비교 연산자
1+2 == 3
1+2 != 3
1+3 > 3
1+3 <= 4

True

In [110]:
#비교 연산자와 논리 연산자의 결합
10%2 == 0 and 12%3 == 0

True

In [111]:
a = '1234'
b = '5678'
a, b, id(a), id(b)

('1234', '5678', 2114700663360, 2114750787248)

In [112]:
id(a) == id(b)

False

In [113]:
#대입연산자
a = 10
b = a+2
a, b

(10, 12)

In [115]:
a = 20
a += 1  # a = a + 1
a

21

In [116]:
a -= 1  # a = a-1
a

20

In [118]:
a = 3
b = 2
a += 2 + b
a

7

# 문자열 str
' ', " ", """ """, ''' '''  docstring

In [119]:
a = 'hello'
b = 'python'
a + b

'hellopython'

In [120]:
c = '*'
c*10

'**********'

In [123]:
d = "Kim's family"
d

"Kim's family"

In [124]:
e = '1'
e == '1'

True

In [126]:
# 문자열은 리스트, 열거형
a = '20010331Rabcd'  #13개의 글자의 목록
a[0]

'2'

In [128]:
a[3]  #인덱싱

'1'

In [136]:
a[0:4]  #영역을 지정할 때 : (클론), 슬라이싱 slice
a[:4]

'2001'

In [137]:
a[8:11]

'Rab'

In [139]:
a[9:]  #index =0에서 시작한다.

'abcd'

In [140]:
s = 'abc'
a = s
a is s

True

In [142]:
b = s[:]
a is b

True

In [144]:
s1 = '1'*1000
b = s1[:]
s1 == b

True