# 파일 읽기

In [ ]:
with open('abc/text.txt', 'w') as f:   #f라는 변수 만들어서 할당
    f.write('hello')

In [5]:
f = open('abc/text.txt', 'r')
f.read()
f.close()

In [6]:
with open('abc./text1.txt', 'w', encoding='utf-8') as f:
    f.write('안녕하세요')
    f.write('졸리네요')

In [20]:
with open('abc./text1.txt', 'r', encoding='utf-8') as f:   #encoding=부분을 저장할때와 읽을때 같아야한다. UnicodeDecodeError
    txtfile = f.read()   
    print(txtfile)

반복문을 사용하여 파일에 데이터를 저장합니다.

In [ ]:
with open('abc./text1.txt', 'a', encoding='utf-8') as f:
    f.write('추가합니다.\n')
    f.write('야호\n')

In [15]:
with open('abc./text1.txt', 'r+', encoding='utf-8') as f:
    txtfile1 = f.read()
    f.write('새로운 내용')

In [17]:
with open('abc./text1.txt', 'a', encoding='utf-8') as file:
    file.write('추가된 내용입니다. \n')

In [19]:
with open('abc./text1.txt', 'w', encoding='utf-8') as file:
    file.write('반복문을 사용하여 파일에 데이터를 저장합니다. \n')

In [24]:
lines = [
    'Python 파일 입출력 \n',
    '반복문을 사용하여 데이터를 저장합니다. \n',
    '데이터 처리가 편리합니다. \n'
]
with open('abc./text.txt', 'w', encoding='utf-8') as file:
    for line in lines:
        file.write(line)

In [25]:
lines = ["첫 번째 줄입니다.\n", "두 번째 줄입니다.\n", "세 번째 줄입니다.\n"]

with open('abc./text1.txt', 'w') as f:
    f.writelines(lines)

In [ ]:
with open("abc./text.txt", "r", encoding="utf-8") as file:
    content = file.read()   #전체 내용을 문자열 형태로 한 번에 읽는다.
    print(content)

Python 파일 입출력
반복문을 사용하여 데이터를 저장합니다.
데이터 처리가 편리합니다.

In [27]:
with open("abc./text1.txt", "r", encoding="utf-8") as file:
    line = file.readline()   #한 줄씩 순차적으로 읽는다
    print(line)

첫 번째 줄입니다.

In [28]:
with open("abc./text1.txt", "r", encoding="utf-8") as file:
    lines = file.readlines()   #파일 전체 내용을 줄 단위로 나누어 리스트 형태로 읽는다.

for line in lines:
    print(line.strip())

첫 번째 줄입니다.
두 번째 줄입니다.
세 번째 줄입니다.

# pickle, 직렬화/역직렬화

In [29]:
import pickle

# 직렬화할 데이터(딕셔너리)
data = {
    'name': '홍길동',
    'age': 30,
    'scores': [90, 85, 88]
}

# 직렬화하여 파일에 저장
with open('abc./data.pickle', 'wb') as f:
    pickle.dump(data, f)

In [30]:
# 파일에서 역직렬화하여 읽기
with open('abc./data.pickle', 'rb') as f:
    loaded_data = pickle.load(f)

print(loaded_data)  # 원본 데이터가 그대로 복원됨

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [32]:
import json

In [35]:
with open('abc./data.json', 'w') as f:   #확장자가 json. 텍스트다
    json.dump(data, f, ensure_ascii=False)

In [36]:
with open('abc./data.json', 'r') as f:
    loaded_txt = json.load(f)
print(loaded_txt)

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [37]:
import csv

In [39]:
data = [['name', 'age'], ['bob', 20], ['alice', 15]]
data

[['name', 'age'], ['bob', 20], ['alice', 15]]

In [40]:
with open('abc./data.csv', 'w') as f:
    wrt = csv.writer(f)
    wrt.writerows(data)

In [46]:
import pandas as pd

df = pd.DataFrame(data)
df.columns = data[0]
df.to_csv('abc./data_df.csv')

In [47]:
pd.read_csv('abc/data_df.csv')

   Unnamed: 0   name  age
0           0   name  age
1           1    bob   20
2           2  alice   15