# 복합자료 리스트

여러개의 값을 묶어서 하나의 변수로 다루는 자료형

생성법
1. [] 대괄호를 사용
2. 데이터는 , 쉼표로 구분
3. [] 빈 대괄호는 초기화
4. 숫자, 문자, 부울, 리스트 같은 객체 모두 담을 수 있다
5. 순서 index를 가진다
6. 음수 인덱스도 가진다

In [1]:
score = [30, 50, 90, 80, 100]
score[0]   #첫번째 학생의 점후

30

In [2]:
type(score), type(score[0])

(list, int)

In [3]:
dir(score)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [22]:
ra = range(2, 20, 2)   #숫자의 배열 순열.

In [12]:
num_list = list(ra)   #리스트의 생성자
num_list

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
num_list[-1]

18

In [14]:
ra.__len__()

9

In [17]:
num_list.count(2)

1

method와 function

1. method : 객체의 한해서 동작하는 함수 > 객체명. 함수()
2. function : 함수( 매개변수 ) > 매개변수로 동작하는 함수

dir() > function 

list_obj.__len__() > method

In [20]:
str_1 = 'hello'
#str_1[0] = 'H'   #TypeError > str Immutable

In [26]:
str_2 = list(str_1)   #문자열 > 문자열리스트
str_2[0] = 'H'
str_2

['H', 'e', 'l', 'l', 'o']

In [33]:
"".join(str_2)

'Hello'

In [34]:
# 리스트의 생성
a = list()
a = []
b = [1, 2, 3, 4, 5]
c = ['aaa', 'bbb', 'ccc']
d = [1, 2, 'aaa', 'bbb']
e = [c, d]
e

[['aaa', 'bbb', 'ccc'], [1, 2, 'aaa', 'bbb']]

In [36]:
e[0], type(e[0])

(['aaa', 'bbb', 'ccc'], list)

In [37]:
e[1], e[-1]

([1, 2, 'aaa', 'bbb'], [1, 2, 'aaa', 'bbb'])

In [39]:
e[1][2],  e[0:1]

('aaa', [['aaa', 'bbb', 'ccc']])

In [40]:
e[1][:2]

[1, 2]

In [45]:
e[1][-1]

'bbb'

In [46]:
score = [[1, 2], [3, 4]]
score

[[1, 2], [3, 4]]

복사
1. 얕은 복사 shallow copy
2. 깊은 복사 deep copy

In [49]:
new_score = score[:]   #얕은카피
new_score[0][0] = 100
new_score

[[100, 2], [3, 4]]

In [50]:
score

[[100, 2], [3, 4]]

In [52]:
import copy
copied = copy.copy(score)
copied[0][1] = 99
copied, score

([[100, 99], [3, 4]], [[100, 99], [3, 4]])

In [53]:
deepcopied = copy.deepcopy(score)
deepcopied[1][0] = 100
deepcopied, score

([[100, 99], [100, 4]], [[100, 99], [3, 4]])

# 리스트의 연산

- '+'  __add__()
- '-'  __mul__()
- del list[항목]
- in list -> True/False

In [54]:
lunch1 = ['해물라면', '샐러드', '떡볶이']
lunch2 = ['오므라이스', '볶음밥', '떡볶이', '제육볶음', '주먹밥']
lunch1 + lunch2

['해물라면', '샐러드', '떡볶이', '오므라이스', '볶음밥', '떡볶이', '제육볶음', '주먹밥']

In [56]:
lunch1 * 2

['해물라면', '샐러드', '떡볶이', '해물라면', '샐러드', '떡볶이']

In [57]:
del lunch1[0]
lunch1

['샐러드', '떡볶이']

In [62]:
# lunch1과 lunch2를 합하고 '떡볶이' 1개를 제외하세요
lunch3 = lunch1 + lunch2
del lunch3[1]
lunch3

['샐러드', '오므라이스', '볶음밥', '떡볶이', '제육볶음', '주먹밥']

In [63]:
'떡볶이' in lunch3

True

In [88]:
# 간식박스 관리 프로그램
snack_box = ['비틀즈', ]
new_snack = input('먹고싶은 간식을 추가하세요. 단, 쉼표(,)로 연결하세요').split(',')
snack_box += new_snack

먹고싶은 간식을 추가하세요. 단, 쉼표(,)로 연결하세요 과자, 아이스크림

In [89]:
snack_box

['비틀즈', '과자', ' 아이스크림']

In [90]:
qty = int(input('간식박스 몇 세트로 포장할까요? 예: 2 -> 2box'))

간식박스 몇 세트로 포장할까요? 예: 2 -> 2box 2

In [91]:
snack_box *= qty
snack_box

['비틀즈', '과자', ' 아이스크림', '비틀즈', '과자', ' 아이스크림']

In [92]:
print(f'주문하신 간식상자는 {snack_box[0]},{snack_box[1]},{snack_box[2]} 등입니다. 확인해주세요.')

주문하신 간식상자는 비틀즈,과자, 아이스크림 등입니다. 확인해주세요.

In [93]:
msg = f'혹시 빼고싶은 간식이 있으면 번호를 입력하세요 (0~{len(snack_box)-1})'
snack_no = int(input(msg))

혹시 빼고싶은 간식이 있으면 번호를 입력하세요 (0~5) 1

In [94]:
del snack_box[snack_no]
snack_box

['비틀즈', ' 아이스크림', '비틀즈', '과자', ' 아이스크림']

In [99]:
# 찾고싶은 간식이름을 입력하세요
# 있어요 OR 없어요 출력
snack_find = input('찾고싶은 간식 이름을 입력하세요: ')
if snack_find in snack_box :
    print('있어요')
else :
    print('없어요')

찾고싶은 간식 이름을 입력하세요:   아이스크림

있어요

In [102]:
print('주문하신 간식박스는 뒤에서부터 다음과 같습니다.')
print(f'{snack_box[::-1]}, 총 {len(snack_box)}개')

주문하신 간식박스는 뒤에서부터 다음과 같습니다.
[' 아이스크림', '과자', '비틀즈', ' 아이스크림', '비틀즈'], 총 5개

강사님께서 디스코드로 리스트 관련 함수 연습하라고 보내심

| 메서드                  | 사용 예시                    | 설명                |
| -------------------- | ------------------------ | ----------------- |
| append(x)          | lst.append(4)          | 맨 뒤에 x 추가       |
| insert(i, x)       | lst.insert(1, "a")     | i 위치에 x 삽입    |
| extend(iter)       | lst.extend([4, 5])     | 리스트에 여러 값 추가      |
| remove(x)          | lst.remove("a")        | x와 일치하는 첫 항목 삭제 |
| pop()              | lst.pop()              | 마지막 항목 제거하고 반환    |
| pop(i)             | lst.pop(0)             | i번째 항목 제거하고 반환  |
| clear()            | lst.clear()            | 리스트 전체 비우기        |
| index(x)           | lst.index("a")         | x의 위치(인덱스) 반환   |
| count(x)           | lst.count("a")         | x의 개수 세기        |
| sort()             | lst.sort()             | 오름차순 정렬 (원본 변경)   |
| sort(reverse=True) | lst.sort(reverse=True) | 내림차순 정렬           |
| reverse()          | lst.reverse()          | 항목 순서 뒤집기         |
| copy()             | lst2 = lst.copy()      | 리스트 복사            |

In [142]:
test = [1, 2, 3, 4, 5]
test.append(4)
test

[1, 2, 3, 4, 5, 4]

In [143]:
test.insert(2, 't')
test

[1, 2, 't', 3, 4, 5, 4]

In [144]:
test.extend([6, 7])
test

[1, 2, 't', 3, 4, 5, 4, 6, 7]

In [145]:
test.remove(4)
test

[1, 2, 't', 3, 5, 4, 6, 7]

In [146]:
test.pop()
test

[1, 2, 't', 3, 5, 4, 6]

In [147]:
test.pop(0)
test

[2, 't', 3, 5, 4, 6]

In [148]:
test.count(5)

1

In [149]:
test.remove('t')
test.sort()
test

[2, 3, 4, 5, 6]

In [151]:
test.sort(reverse=True)
test

[6, 5, 4, 3, 2]

In [152]:
test.reverse()
test

[2, 3, 4, 5, 6]

# 연산자

- 비식별연산자
1. 수치연산 : 사칙연산
   add() -> 특별메소드를 정의하고 객체에서 쓸 수 있다
   숫자일 때는 기본 연상
   형변환이 자동으로 일어난다 int + float > float, int / int > float
3. 대입연산 : assign, 혈당 '='
   변수 = 값
   자기 자신에게 대입하는 연산 > +=, -=, *=, /= > ( )가 자동으로 적용
5. 비교연산
   '=' x, '==' o
   '!=', '>=', '<='

   리스트의 비교 '==' > 내용이 같은가?
   리스트의 비교 'is' > 주소가 같은가?
   리스트의 주소 'id()'값이 같은지를 비교(메모리 영역이 같은가?) 
   
7. 논리연산
   and, or, not
   &, &&, |, !

- 식별 연산자
1. is, is not

In [20]:
lunch1 = ['주먹밥', '치킨', '칼국수']
lunch2 = ['주먹밥', '치킨', '칼국수']
lunch1 == lunch2

True

In [22]:
id(lunch1) == id(lunch2)

False

In [23]:
lunch1 is lunch2   #주소를 비교

False

In [1]:
a = 5
#a = a + 5
a += 5

In [4]:
a = 5
b = 2
a *= 2 + b   # a = a * ( 2 + b ) 여기에 괄호가 먼저 들어간다. 자기 자신에게 대입하는 연산이 나중. 
a

20

In [5]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [8]:
students[0]['total'] = students[0]['kor'] + students[0]['eng'] + students[0]['math']
students[0]['total']

255

In [9]:
students[1]['total'] = students[1]['kor'] + students[1]['eng'] + students[1]['math']
students[1]['total']

265

In [10]:
students[2]['total'] = students[2]['kor'] + students[2]['eng'] + students[2]['math']
students[2]['total']

240

In [16]:
#for 문에서는 리스트의 요소를 하나씩 꺼낼 수 있다 : in 키워드
for student in students :   #iterator
    student['total'] = student['kor'] + student['eng'] + student['math']
    student['avg'] = student['total'] / 3
    print(student['total'], student['avg'])

255 85.0
265 88.33333333333333
240 80.0

In [18]:
for student in students :
    rank = 1
    for other in students :
        if other['total'] > student['total'] :
            rank += 1
    student['order'] = rank
    print(student['name'], student['order'])

김철수 2
박제동 1
홍길동 3

In [19]:
for student in students :
    print(student['name'], student['order'], student['total'], student['avg'])

김철수 2 255 85.0
박제동 1 265 88.33333333333333
홍길동 3 240 80.0

# 리스트에 많이 쓰는 내장함수들

* type(),
* sorted(),
* dir(),
* id(),
* len(),
* sum(), max(), min()

In [24]:
type(students)

list

In [36]:
abc = [4, 3, 8, 6, 1, 9]
sorted(abc)

[1, 3, 4, 6, 8, 9]

In [37]:
dir(students)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [32]:
id(students)

2171294419456

In [38]:
len(student)

8

In [39]:
sum(abc)

31

In [40]:
max(abc), min(abc)

(9, 1)

# 리스트 퀴즈
Q1. [1,3,5,4,2]라는 리스트를 [5,4,3,2,1]로 만들어보자

Q2. ['Life','is','too','short']라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자

Q3. 다음 리스트 L의 순서를 아래와 같이 변경하시오. (힌트: pop())

변경 전

[1, 3, 5, 7, 9]

변경 후

[3, 5, 7, 9, 1]

In [41]:
quiz = [1, 3, 5, 4, 2]
sorted(quiz, reverse=True)

[5, 4, 3, 2, 1]

In [58]:
quiz2 = ['Life', 'is', 'too', 'short']
print(' '.join(quiz2))

Life is too short

In [59]:
L = [1, 3, 5, 7, 9]
L.append(L.pop(0))
L

[3, 5, 7, 9, 1]

# 딕션너리

{ 키:값, 키:값, }

In [60]:
person = {'이름':'Alice', '나이':25, '도시':'서울'}
person

{'이름': 'Alice', '나이': 25, '도시': '서울'}

In [61]:
person2 = dict(이름='jiyoung', 나이=25, 도시='서울')
person2

{'이름': 'jiyoung', '나이': 25, '도시': '서울'}

In [63]:
person['이름'] = '홍길동'
person

{'이름': '홍길동', '나이': 25, '도시': '서울'}

In [69]:
person[0] = 'Bob'
person   # 시퀀스 넣어봐야 딕셔너리는 그냥 새로운 키로 받아들인다. Key create
# person[2]   #KeyError

{'이름': '홍길동', '나이': 25, '도시': '서울', 0: 'Bob'}

In [70]:
type(person)

dict

In [71]:
dir(person)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [81]:
items = person.items()
type(items)

dict_items

In [82]:
keys = person.keys()   #keys는 리스트가 된거임
type(keys)

dict_keys

In [83]:
for k in keys :
    print(k)

이름
나이
도시
0

In [84]:
for i in items :
    print(i)

('이름', '홍길동')
('나이', 25)
('도시', '서울')
(0, 'Bob')

In [85]:
values = person.values()
type(values)

dict_values

In [86]:
for v in values :
    print(v)

홍길동
25
서울
Bob

In [87]:
# update()는 딕셔너리에 딕셔너리를 추가한다.
person.update(person2)
person

{'이름': 'jiyoung', '나이': 25, '도시': '서울', 0: 'Bob'}

In [89]:
#person3을 추가한다면? -> 키가 같으므로 값이 업데이트 / 키가 다르면 추가
person3 = {'성별':'여자', '취미':'판타지'}
person.update(person3)
person

{'이름': 'jiyoung', '나이': 25, '도시': '서울', 0: 'Bob', '성별': '여자', '취미': '판타지'}

# 메뉴판 만들기

In [97]:
store_name = "지영's 카페"
menu_list = ['에스프레소', '아이스아메리카노', '따뜻한라떼']
price_list = [3000, 4000, 5000]
print('*'*40)
print(f'어서오세요 {store_name}에 오신 것을 환영합니다')

for i in range(len(menu_list)) :
    print(f'{i+1}. {menu_list[i]} {price_list[i]}')

order_num = int(input('주문할 메뉴 번호를 입력하세요 : '))
qty = int(input('주문하실 개수를 입력하세요 : '))
print(f'주문하신 메뉴는 {menu_list[order_num-1]}입니다. 결제하실 금액은 {price_list[order_num-1]*qty}입니다.')

****************************************
어서오세요 지영's 카페에 오신 것을 환영합니다
1. 에스프레소 3000
2. 아이스아메리카노 4000
3. 따뜻한라떼 5000

주문할 메뉴 번호를 입력하세요 :  3
주문하실 개수를 입력하세요 :  2

주문하신 메뉴는 따뜻한라떼입니다. 결제하실 금액은 10000입니다.

# 딕셔너리 버전

In [110]:
print('*'*40)
print(f'어서오세요 {store_name}에 오신 것을 환영합니다')

store_name = "지영's 카페"
menu_list = [{'name':'에스프레소', 'price':3000}, {'name':'아이스아메리카노', 'price':4000}, {'name':'따뜻한라떼', 'price':5000}, {'name':'말차프라푸치노', 'price':7000}]

for i, menu in enumerate(menu_list) :
    print(i+1, menu)
    print(f'{i+1}. {menu['name']} {menu['price']}')

order_num = int(input('주문할 메뉴 번호를 입력하세요 : '))
qty = int(input('주문하실 개수를 입력하세요 : '))
amt = qty * menu_list[order_num]['price']
name = menu_list[order_num]['name']
print(f'주문하신 메뉴는 {name}입니다. 결제하실 금액은 {amt}입니다.')

****************************************
어서오세요 지영's 카페에 오신 것을 환영합니다
1 {'name': '에스프레소', 'price': 3000}
1. 에스프레소 3000
2 {'name': '아이스아메리카노', 'price': 4000}
2. 아이스아메리카노 4000
3 {'name': '따뜻한라떼', 'price': 5000}
3. 따뜻한라떼 5000
4 {'name': '말차프라푸치노', 'price': 7000}
4. 말차프라푸치노 7000

주문할 메뉴 번호를 입력하세요 :  1
주문하실 개수를 입력하세요 :  1

주문하신 메뉴는 아이스아메리카노입니다. 결제하실 금액은 4000입니다.

# 튜플
리스트랑 비슷, 변경 안되는 특징을 갖는다

In [27]:
a = tuple()
a, type(a)

((), tuple)

In [29]:
b = (1)
b, type(b)

(1, int)

In [30]:
bb = (1,)
bb, type(bb)

((1,), tuple)

In [31]:
c = (1, 2, (3,4), '5', [1,2,3])
c

(1, 2, (3, 4), '5', [1, 2, 3])

In [32]:
c[0]

1

In [36]:
# tuple()의 괄호는 생략해도 된다. 쉼표로 요소는 하나 이상이어야 한다.
fruits = '사과', '복숭아', '딸기'
fruits, type(fruits)

(('사과', '복숭아', '딸기'), tuple)

In [39]:
#패킹, 언패킹
nums = [1, 2, 3]
a, b, c = nums   #list unpacking
a, b, c

(1, 2, 3)

In [40]:
a

1

In [42]:
#s = 'hello'
s = 'hi'
a, b = s
a

'h'

In [44]:
s = 'hello'   #packing
a, *b, c = s   #unpacking *는 rest의 의미이다. 하나씩 할당받고 나머지는 너가 다 가져
a, b, c

('h', ['e', 'l', 'l'], 'o')

In [45]:
student = ('홍길동', 20, '1학년')   #packing
student

('홍길동', 20, '1학년')

In [46]:
name, age, grade = student
f' 이름은 {name}이고요, 나이는 {age}이고요, {grade}입니다.'

' 이름은 홍길동이고요, 나이는 20이고요, 1학년입니다.'

In [47]:
# 미션
x = 1
y = 2
#x=2, y=1나오게 코딩해보세요.
x, y = y, x
x, y

(2, 1)

In [50]:
#함수의 정의
def func_a(a,b,c) :
    print(a,b,c)
    return c,b,a
#함수의 호출
result = func_a(5,4,3)
#함수의 반환값
result

5 4 3

(3, 4, 5)

In [54]:
a1, b1, c1 = func_a(1,2,3)
a1,b1,c1

1 2 3

(3, 2, 1)

In [55]:
#tuple에 값을 추가하려면?
#형변환 > 리스트 
name_tuple = ('가연', '지훈', '지희')
name_tuple

('가연', '지훈', '지희')

In [58]:
name_list = list(name_tuple)
name_list.append('유석')
name_tuple = tuple(name_list)
name_tuple

('가연', '지훈', '지희', '유석')

In [59]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [69]:
#__add__ +
#__mul__ *
team_tuple = ('지영', '수현', '석훈', '형진')
name_tuple.__add__(team_tuple)

('가연', '지훈', '지희', '유석', '지영', '수현', '석훈', '형진')

# 집합

+ set(), {}
+ 중복이 안된다. 순서도 없다. 키도 없다.
+ 속도가 빠르다. 해싱을 하는 자료형(딕셔너리, 집합)

In [77]:
s = set([1,2,3])
s, type(s)

({1, 2, 3}, set)

In [78]:
s1 = {1,2,3}
s1, type(s1)

({1, 2, 3}, set)

In [79]:
s2 = {1,2,3,1}
s2

{1, 2, 3}

In [87]:
l2 = [1,2,3]
l2 = l2*2
l2

[1, 2, 3, 1, 2, 3]

In [88]:
# set으로 중복을 제거한다.
s3 = set(l2)
s3

{1, 2, 3}

In [90]:
l3 = l2 + [4,5,6]
l3

[1, 2, 3, 1, 2, 3, 4, 5, 6]

In [91]:
l2, type(2,)

([1, 2, 3, 1, 2, 3], int)

In [106]:
hash('hi')   #해시코드 > 해싱 가능한 데이터 '문자열'

6353054840491388246

In [108]:
hash(123)   #해싱가능하다 int, float, boolean

123

In [110]:
set(['hi',123])   #해싱으로 바뀐 값을 저장 > 집합 연산

{123, 'hi'}

In [98]:
l1 = [1,2,3]
#hash(l1)   #error
hash((1,2,3))
#hash({1,2,3})   #error

529344067295497451

# set 집합 연산

- 교집합 &, intersection()
- 합집합 |, union()
- 차집합 -, difference()

In [99]:
s = set([1,2,3,4])
x = {2,3,4}
y = {3,4,5}
x & y

{3, 4}

In [100]:
x.intersection(y)

{3, 4}

In [101]:
x | y

{2, 3, 4, 5}

In [102]:
x.union(y)

{2, 3, 4, 5}

In [103]:
x - y

{2}

In [104]:
x.difference(y)

{2}

In [105]:
dir(x)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# 복합자료형 연습

In [111]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
quiz1 = numbers[0] + numbers[-1]
quiz1

110

In [114]:
colors = ["red", "green", "blue", "yellow", "purple", "orange", "black"]
colors[0:3]

['red', 'green', 'blue']

In [115]:
colors[-2:]

['orange', 'black']

In [116]:
list_a = [
    [1, 2, 3],
    ['red', 'green', 'blue'],
    [False, 'korean', 'True']
]
list_a[2][1]

'korean'

In [134]:
# for sub in list_a :
#    for item in sub :
#        if item == 'korean' :
#            print(item)

In [117]:
list_a = [1,2,3]
list_b = [4,5,6]
list_c = list_a + list_b
list_c

[1, 2, 3, 4, 5, 6]

In [118]:
tuple_a = ('apple', 'banana', 'cherry')
list_quiz = list(tuple_a)
list_quiz[1] = 'blueberry'
tuple_a = tuple(list_quiz)
tuple_a

('apple', 'blueberry', 'cherry')

In [119]:
a = 5
b = 10
c = 15
tuple_a = (a, b, c)
tuple_a

(5, 10, 15)

In [124]:
numbers = (92, 89, 72, 31, 71, 33, 19)
max(numbers), min(numbers)

(92, 19)

In [137]:
student = {}
student = {'name':'Alice', 'age':24, 'major':'Computer Science'}
student

{'name': 'Alice', 'age': 24, 'major': 'Computer Science'}

In [138]:
# 강사님 답
for k, v in student.items() :
    print(f'{k}:{v}')

name:Alice
age:24
major:Computer Science

In [139]:
student['age'] = 26
student

{'name': 'Alice', 'age': 26, 'major': 'Computer Science'}

In [141]:
students = {
    'student1' : {'name':'Alice', 'age':24},
    'student2' : {'name':'Bob', 'age':22},
    'student3' : {'name':'Charlie', 'age':23}
}
name_list = [students[s]['name'] for s in students]
age_tuple = tuple(students[s]['age'] for s in students)

name_list, age_tuple

(['Alice', 'Bob', 'Charlie'], (24, 22, 23))

In [144]:
# 강사님 답
students = {
    'student1' : {'name':'Alice', 'age':24},
    'student2' : {'name':'Bob', 'age':22},
    'student3' : {'name':'Charlie', 'age':23}
}

name_list = []
age_list = []

for key in students.keys() :
    stu = students[key]
    name_list.append(stu['name'])
    age_list.append(stu['age'])

age_tuple = tuple(age_list)
name_list, age_tuple

(['Alice', 'Bob', 'Charlie'], (24, 22, 23))

# 팀 프로젝트 키오스크

In [159]:
print('='*44)
store_name = '빵꾸똥꾸 문구야'
print(f'\t{store_name}\n\t에 오신 것을 환영합니다!')
print('='*44)

print(f'{"번호":<5} {"제품명":<10} {"가격":>6}')
print('-'*44)

menu = [
    {'name':'샤프', 'price': 6000},
    {'name':'볼펜', 'price': 3000 },
    {'name':'지우개', 'price': 1000},
    {'name':'화이트', 'price': 3000},
    {'name':'공책', 'price': 3500}
]

# 내용출력
for i, m in enumerate(menu):
    print(f'{i+1:<5} {m["name"]:<10} {m["price"]:>6,}원')

print('-'*44)

ord_num = int(input('주문하실 제품 번호를 선택하세요'))-1

============================================
	빵꾸똥꾸 문구야
	에 오신 것을 환영합니다!
============================================
번호    제품명            가격
--------------------------------------------
1     샤프          6,000원
2     볼펜          3,000원
3     지우개         1,000원
4     화이트         3,000원
5     공책          3,500원
--------------------------------------------

주문하실 제품 번호를 선택하세요 2

In [160]:

total = qty*menu[ord_num]['price']
menut = menu[ord_num]['name']
print('='*44)
print(f'\t고객님이 선택하신 제품은\n\t{menut}입니다. \n\t몇 개를 드릴까요?\n')
qty = int(input('\t수량을 숫자로 입력하세요: '))
print('='*44)

============================================
	고객님이 선택하신 제품은
	볼펜입니다.
	몇 개를 드릴까요?

	수량을 숫자로 입력하세요:  3

============================================

In [161]:
print('\n' + '=' * 44)
print(f'{"고객님이 선택하신 제품은":^25}')

print(f'\t{menut}{qty}개입니다')


input('더 주문하시겠습니다? (y/n)')

print('=' * 44)

============================================
      고객님이 선택하신 제품은
	볼펜3개입니다

더 주문하시겠습니다? (y/n) y

============================================

In [164]:
print('\n' + '=' * 44)
print(f'{"고객님이 선택하신 제품은":^25}')

print(f'\t{menut}{qty}개입니다')


a = input('더 주문하시겠습니다? (y/n)')
if a =='n':
    print(f'주문하신 금액은 {total}입니다')
    input('포인트를 적립하시겠습니까? (y/n)')
    
print('=' * 44)

============================================
      고객님이 선택하신 제품은
	볼펜3개입니다

더 주문하시겠습니다? (y/n) n

주문하신 금액은 6000입니다

포인트를 적립하시겠습니까? (y/n) n

============================================

In [162]:
print('='*44)
phone=input('전화번호를 입력해 주세요:')

user_id=f'user_{phone[-4:]}'

point=500

print('='*44)
print(f'{user_id} 고객님의 적립포인트는 {point:,}점 입니다.')
print('='*44)

============================================

전화번호를 입력해 주세요: 01013548965

============================================
user_8965 고객님의 적립포인트는 500점 입니다.
============================================

In [163]:
print('='*44)
print(f'{"결제가 완료되었습니다.":^37}')
print(f'{"잠시만 기다려주세요.":^37}')
print(f'{"감사합니다.":^40}')
print('='*44)

============================================
            결제가 완료되었습니다.
             잠시만 기다려주세요.
                 감사합니다.
============================================

In [ ]:
import time


# # 메뉴 저장 리스트 -> 메뉴 추가 시 여기서.
menu = [
    {'name':'샤프', 'price': 6000},
    {'name':'볼펜', 'price': 3000},
    {'name':'지우개', 'price': 1000},
    {'name':'화이트', 'price': 3000},
    {'name':'공책', 'price': 3500}
]

points = {}

while True:

    space = ' '*7
    print('╔' + '═' * 40 + '╗')
    print(f'\t{space}빵꾸똥꾸 문구야')
    print(f'{"에 오신 것을 환영합니다!":>25}')
    print('╚' + '═' * 40 + '╝')


    print(f'{"번호"}\t\t{"제품명"}\t\t{"가격"}')
    print('-'*44)

    for i, m in enumerate(menu):
        print(f'{i+1}\t\t{m["name"]}\t\t{m["price"]:,}원')
    print('-'*44)

    # 다중 주문 저장 리스트
    order_list = []


    while True:

        try: ### 제품번호 범위 및 숫자 외 입력 방지 ###
            ord_num = int(input('주문하실 제품 번호를 선택하세요: ')) -1

            if not (0 <= ord_num < len(menu)): 
                print('='*44)
                print(f'{"[알림] 메뉴에 없는 제품 번호입니다.":^35}')
                print(f'{"[알림] 목록에 있는 제품 번호만 입력해 주세요.":^35}')
                print('='*44)
                continue 


        except ValueError:  
            print('='*44)
            print(f'{"[알림] 잘못된 입력입니다.":^35}')
            print(f'{"[알림] 제품 번호를 숫자로 입력해 주세요.":^35}')
            print('='*44)
            continue 
        
        menut = menu[ord_num]['name']

        print('='*44)
        print(f'{"고객님이 선택하신 제품은":^33}')
        print(f'{menut + " 입니다.":^33}')
        print(f'{"몇 개를 드릴까요?":^33}')
        
        go_to_start = False   #go_to_start라는 변수가 False면 계속 주문 진행, True면 주문 취소->처음으로 돌아감
        
        while True: ### 수량값 음수 및 문자 입력 방지 ###
            try:

                qty = input('\t수량을 입력하세요(취소: x): ')

                if qty == 'x':
                    go_to_start = True
                    break
                else:
                    qty = int(qty)
                
                if qty <=0:
                    print('='*44)
                    print(f'{"[알림]수량은 1개 이상 입력해주세요.":^35}')
                    print('='*44)
                    continue
                break

            except ValueError:
                print('='*44)
                print(f'{"[알림]다시 입력해주세요.":^35}')
                print('='*44)

        if go_to_start:
            break
                
        # 만약 같은 걸 더 주문하면 order_list 에 추가 말고 qty 만 +++
        flag = True
        for i in range(len(order_list)):
            if order_list[i]['name'] == menu[ord_num]["name"]:
                order_list[i]['qty'] += qty
                flag = False
                break

        # 새로운 거 주문 하면 append
        if flag:
            order_list.append({
                'name': menut,
                'qty': qty,
                'price': menu[ord_num]['price']
            })

        a = input('더 주문하시겠습니까? (y/n): ')
            # y/n 입력 유효성 검사
        while a.lower() not in ['y', 'n']: ### y,n 외 입력 방지 ###
            print('='*44)
            print(f'{"[알림] 잘못된 입력입니다.":^35}')
            print(f'{"[알림] 'y' 또는 'n'으로만 입력해 주세요.":^35}')
            print('='*44)
            a = input('더 주문하시겠습니까? (y/n): ')
            
        if a.lower() == 'n':
            break

        print('-'*44)

    if not go_to_start:
        # 총액 계산 및 주문 출력
        total = 0

        while order_list :   #장바구니에 항목이 있을 때 반복
    
            print('='*44)
            print(f'\t\t{"장바구니 내역"}')
            print('-'*44)
        
            for idx, order in enumerate(order_list):
                item_total = order['qty'] * order['price']
                total += item_total
        
                print(f'{idx+1} 번 {order["name"]}\t{order["qty"]}개\t-\t{item_total:,}원')
        
            print('-'*44)
            

            remove_num_input = input('장바구니에서 삭제할 항목 번호 (없으면 0): ')

            if not remove_num_input.isdigit():
                print('[알림] 숫자만 입력해주세요.')
                continue

            remove_num = int(remove_num_input)-1

            if remove_num == 0:
                break

            if 1 <= remove_num <= len(order_list):
                removed_item = order_list.pop(remove_num -1)
                print(f'{removed_item["name"]}이(가) 장바구니에서 제거되었습니다.')
            else:
                print('[알림] 존재하지 않는 번호입니다.')

        if not order_list:   #장바구니가 비었을 때
            print('[알림] 장바구니가 비어 있습니다. 처음으로 돌아갑니다.')
            go_to_start = True
            continue
            
        print(f'총 결제 금액: {total:,}원')
        print('='*44)
        
        # 포인트 적립 여부 y/n 유효성 검사
        ab = input('포인트를 적립하시겠습니까? (y/n): ')
            
        while ab.lower() not in ['y', 'n']:
            print('=' * 44)
            print(f'{"[알림] 잘못된 입력입니다.":^35}')
            print(f'{"[알림] 'y' 또는 'n'으로만 입력해 주세요.":^35}')
            print('=' * 44)
            ab = input('포인트를 적립하시겠습니까? (y/n): ')
        
        # 'y'일 경우 포인트 적립
        if ab.lower() == 'y':
            phone = input('전화번호를 입력해 주세요: ')
                
            # 전화번호가 숫자가 아닐 경우 재입력 요구
            while not phone.isdigit() or len(phone) < 11 or phone == "x":
                print('=' * 44)
                print(f'{"[알림] 잘못된 입력입니다.":^35}')
                print(f'{"[알림] 전화번호는 숫자만 입력해 주세요.":^35}')
                print('=' * 44)
                phone = input('전화번호를 다시 입력해 주세요: ')
                    
            if ab.lower() == 'y':
                user_id = f'user_{phone[-4:]}'
                point = int(total * 0.05)
            
                if user_id in points :
                    points[user_id] += point
                else :
                    points[user_id] = point
        
                print('=' * 44)
                print(f'{ord_list[ord_num+1]['name']} 고객님의 적립포인트는 {points[user_id]:,}점 입니다.')
    
    
            print('='*44)
            print(f'{"결제가 완료되었습니다.":^37}')
            print(f'{"잠시만 기다려주세요.":^37}')

    print('='*44)
    print(f'{"감사합니다.":^40}')
    order_list.clear()
    print(f'{"3초 뒤에 시작화면으로 돌아갑니다.":^37}')
    time.sleep(1)
    print('='*44)
    print(f'{"2초 뒤에 시작화면으로 돌아갑니다.":^37}')
    time.sleep(1)
    print('='*44)
    print(f'{"1초 뒤에 시작화면으로 돌아갑니다.":^37}')
    time.sleep(1)

╔════════════════════════════════════════╗
	       빵꾸똥꾸 문구야
           에 오신 것을 환영합니다!
╚════════════════════════════════════════╝
번호		제품명		가격
--------------------------------------------
1		샤프		6,000원
2		볼펜		3,000원
3		지우개		1,000원
4		화이트		3,000원
5		공책		3,500원
--------------------------------------------

주문하실 제품 번호를 선택하세요:  1

============================================
          고객님이 선택하신 제품은
             샤프 입니다.
           몇 개를 드릴까요?

	수량을 입력하세요(취소: x):  2
더 주문하시겠습니까? (y/n):  3

============================================
          [알림] 잘못된 입력입니다.
    [알림] 'y' 또는 'n'으로만 입력해 주세요.
============================================

더 주문하시겠습니까? (y/n):  y

--------------------------------------------

주문하실 제품 번호를 선택하세요:  3

============================================
          고객님이 선택하신 제품은
            지우개 입니다.
           몇 개를 드릴까요?

	수량을 입력하세요(취소: x):  4
더 주문하시겠습니까? (y/n):  n

============================================
		장바구니 내역
--------------------------------------------
1 번 샤프	2개	-	12,000원
2 번 지우개	4개	-	4,000원
--------------------------------------------