# 반복문 : for, while

# for 문

for 변수 in 반복자 :
반복자에는 리스트, 문자열, 튜플, 딕셔너리, 세트(집합)

In [2]:
data = [0,1,2,3,4]
for var in data :
    print(var)

0
1
2
3
4

In [3]:
for x in range(1,10) :
    print(x)

1
2
3
4
5
6
7
8
9

In [14]:
stu = {'name':'jiyoung', 'age':25}
numbers = (1,2,3,4)

In [15]:
sum = 0
for n in numbers :
    sum += n
sum

10

In [16]:
for k, v in stu.items() :
    print(k, v)

name jiyoung
age 25

In [17]:
ran = range(1,10)
type(ran)

range

In [18]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, index, /)
 |      Return self[index].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [19]:
list(ran)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
type(list(ran))

list

# range(1,10,2)
start, stop, step = 1 default

In [21]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [22]:
#1~100 합 구하기
sum = 0
for i in range(1,101) :
    sum += i
print(sum)

5050

In [23]:
#3의 배수의 합 (1~100 사이)
sum2 = 0
for i in range(1,101) :
    if i % 3 == 0 :
        sum2 += i
sum2

1683

In [24]:
sum3 = 0
for i in range(3, 101, 3) :
    sum3 += i
sum3

1683

In [25]:
char_list = ['a', 'b', 'c']
for x in char_list :
    print(x)

a
b
c

In [26]:
for i, v in enumerate(char_list) :
    print(i, v)

0 a
1 b
2 c

In [27]:
char_list_2 = ['hello', 'hi', 'goodbye']
zip(char_list, char_list_2)

In [28]:
for item in zip(char_list, char_list_2) :
    print(item)

('a', 'hello')
('b', 'hi')
('c', 'goodbye')

In [30]:
# 구구단
# 2 x 1 = 2
# 2 x 2 = 4
num1 = 2
for i in range(1,10) :
    num2 = num1 * i
    print(f'{num1} x {i} = {num2}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [32]:
# 강사님 답
for i in range(1,10):
    print(f'2 * {i} = {2*i}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [33]:
#구구단 9단까지
for n in range(2, 10) :
    for m in range(1, 10) :
        print(f'{n} x {m} = {n*m}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [31]:
movie_dict = {'미션임파서블':4, '미치광이삐에로':5, '씨너스':3, '울지않는아이':2}
for k, v in movie_dict.items() :
    print(f'영화 {k}의 평점 : {'*'*v}')

영화 미션임파서블의 평점 : ****
영화 미치광이삐에로의 평점 : *****
영화 씨너스의 평점 : ***
영화 울지않는아이의 평점 : **

# 중첩 반복문

In [47]:
for i in range(1,6) :
    for j in range(i) :
        print('💛', end='')
    print()

💛
💛💛
💛💛💛
💛💛💛💛
💛💛💛💛💛

In [50]:
# for aa in range(1,31) :
#    if aa % 3 == 0:
#        print(aa)

3
6
9
12
15
18
21
24
27
30

In [54]:
while True :
    user_input = input('종료하려면 exit 입력:')
    if user_input == 'exit' :
        print('종료')
        break

종료하려면 exit 입력: ih
종료하려면 exit 입력: exit

종료

# while 문

In [55]:
sun = 0
for i in range(6) :
    sun += 1
sun

6

In [61]:
i = 0
while True :
    if i > 6 :
        break
    sun += i 
    i += 1

In [64]:
while i < 6 :
    i += 1
    sun += i
sun

27

In [65]:
sum(range(1,7))

21

# 리스트 컴프리헨션
[ 리스트요소 for <1개>  in <반복범위> ]

In [70]:
numbers = [1,2,3,4,5]
squares = [num*2 for num in numbers]
squares

[2, 4, 6, 8, 10]

In [72]:
# 조건식 + for가 결합한 리스트 컴프리헨션 
test_list = []
for x in range(10) :
    if x < 5 :
        test_list.append(x*2)
    else :
        test_list.append(x)
test_list

[0, 2, 4, 6, 8, 5, 6, 7, 8, 9]

In [73]:
[x*2 if x<5 else x for x in range(10)]

[0, 2, 4, 6, 8, 5, 6, 7, 8, 9]

In [74]:
[x for x in range(10) if x<5]

[0, 1, 2, 3, 4]

In [75]:
# 리스트 컴프리헨션을 이용한 변환, 필터

In [76]:
#로또 번호 당첨 여부 확인
my_numbers = [3, 11, 17, 23, 38, 42]
win_numbers = [7, 14, 23, 32, 38, 45]

for num in my_numbers:
    if num in win_numbers:
        print(f"🎉 당첨 번호 있음! ({num})")
        break
else:
    print("😢 꽝입니다.")

🎉 당첨 번호 있음! (23)

In [107]:
[f"🎉 당첨 번호 있음! ({num})" if num in win_numbers else "😢 꽝입니다." for num in my_numbers]

['😢 꽝입니다.',
 '😢 꽝입니다.',
 '😢 꽝입니다.',
 '🎉 당첨 번호 있음! (23)',
 '🎉 당첨 번호 있음! (38)',
 '😢 꽝입니다.']

In [109]:
# 강사님 답
matched = [num for num in my_numbers if num in win_numbers]
if matched :
    print(matched)
else :
    print('꽝')

print(f'당첨'if matched else f'꽝')

[23, 38]
당첨