# 함수

- 인자 = 매개변수, 입력, 파라미터
- 반환값 = 리턴값, 결과값
- 함수이름

- 함수 정의 > 호출

In [1]:
def my_fun() :
    print('my first function')
    print('hello')
    print('good bye')

In [3]:
my_fun()   #호출

my first function
hello
good bye

In [4]:
type(my_fun)

function

In [5]:
my_func_var = my_fun()
my_func_var   #변수

my first function
hello
good bye

In [8]:
print(my_func_var)

None

In [13]:
def my_fun1() :
    print('my first function')
    print('hello')
    print('good bye')
    return 'hey'   # return이 있는경우

In [14]:
my_fun1()

my first function
hello
good bye

'hey'

In [15]:
my_fun_var1 = my_fun1()

my first function
hello
good bye

In [16]:
my_fun_var1

'hey'

## 입력값이 있는 함수

In [25]:
def my_calc2(x, y) :
    print(f'{x}와 {y}를 계산합니다.')
    add_result = x + y
    mul_result = x * y
    return add_result, mul_result

In [27]:
my_calc2(10,20)   #튜플자료형

10와 20를 계산합니다.

(30, 200)

In [30]:
func_result = my_calc2(10, 20)
func_result[0] = 100   #튜플이기 때문에 바꿀 수 없다. 그래서 함수의 결과로 튜플로 준다.

10와 20를 계산합니다.

TypeError: 'tuple' object does not support item assignment

In [33]:
func_result1, f2 = my_calc2(10,20)   #unpacking
func_result1

10와 20를 계산합니다.

30

In [34]:
f2

200

# 입력값의 타입 : 수치형 vs (리스트) 객체형

수치형 : 값에 의한 전달 call by value
객체형 : 값(참조) call by feterence > 같은 객체를 다룬다.

In [35]:
#리스트 매개변수의 실행
def my_calc3(a, lst1) :
    a += 1
    lst1.append(a)
    return a

In [36]:
num = 10
lst_num = [1,2,'12']
print(f'before : {num}, {lst_num}')
my_calc3(num, lst_num)
print(f'after : {num}, {lst_num}')

before : 10, [1, 2, '12']
after : 10, [1, 2, '12', 11]

In [38]:
my_calc3(a=num, lst1=lst_num)

11

키워드 매개변수 : 함수의 매개변수 목록은 변수명이 매개변수 명이다.
매개변수명을 이용한 호출은 매개변수의 순서와 무관하다.

In [40]:
my_calc3(lst1=lst_num, a=num)

11

In [42]:
# 기본밦, 기본인자
def greeting(name, greeting='hello') :
    print(f'{greeting}, {name}님!')

greeting('minsu', 'hello, ')

hello, , minsu님!

In [43]:
greeting('alice', 'hi')

hi, alice님!

In [45]:
greeting('Bob')   #name만 줘도 함수 greeting의 greeting 자기가 가지고 있는 값을 준다.

hello, Bob님!

In [48]:
#가변인자
def sum_all(*args) :   #args가 여러 개 올 수 있다. 앞에 *붙이기
    return sum(args)

In [49]:
sum_all(1,2,3,4,5)

15

In [50]:
def sum_all(arg1, arg2, *args) :
    result = arg1+arg2+sum(args)
    return result

In [51]:
sum_all(1,2,3,5,5)

16

In [52]:
#매개변수의 순서가 중요 *매개변수는 자기부터 끝까지 받으므로 제일 마지막에 넣는다.

In [53]:
#**kargs 이렇게 *이 두 개면 딕셔너리이다.
def print_info(**kwargs) :
    for k, v in kwargs.items():
        print(f'{k}, {v}')

In [55]:
print_info(name='hong', age=20, city='Seoul', nick='HGD')

name, hong
age, 20
city, Seoul
nick, HGD

In [75]:
import datetime
today = datetime.date(2025,6,5)
type(today)
today.weekday()

3

# 요일 구하는 함수 정의
- 입력 : year, month, day
- 출력 : '월요일'
- 함수명 : 요일찾기()

In [71]:
year=2017
month=3
day=2

In [72]:
# 날짜 - year, month, day 예를들어 year=2025, month=06, day=05
total_days = 0
# 년도일수 입력년도-1 * 365
    #윤년(윤달)인지 체크
for i in range(1, year) :
    #윤년 : 400으로 나누어 나머지가 0 and 4로 나누어 나머지가 0
    #평년 : 100으로 나누어 나머지가 0

    if i%400 == 0:
        total_days += 366
    elif i%100 == 0:
        total_days += 365
    elif i%4 == 0:
        total_days += 366
    else:
        total_days += 365
print(total_days)
# 월수 입력한 값-1 * 30
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
for n in range(1,month):
    total_days += month_days[n]
# 올해가 윤년인지 체크
if month >= 3 :
        if year%400 == 0:
            total_days += 1
        elif year%100 == 0:
            total_days += 0
        elif year%4 == 0:
            total_days += 1
        else:
            total_days += 0
print(total_days)
# 일수 입력값
total_days += day

print(total_days)
# 요일 정하기
remain_days = total_days % 7
if remain_days == 1:
    print('월요일')
elif remain_days == 2:
    print('화요일')
elif remain_days == 3:
    print('수요일')
elif remain_days == 4:
    print('목요일')
elif remain_days == 5:
    print('금요일')
elif remain_days == 6:
    print('토요일')
else :
    print('일요일')

736329
736388
736390
목요일

In [94]:
def 윤년체크(year):
    if year%400 == 0:
        return True
    elif year%100 == 0:
        return False
    elif year%4 == 0:
        return True
    else:
        return False

In [95]:
윤년체크(2028)

True

In [96]:
def 요일찾기(year, month, day):
    week_day_name = '일요일'
    total_days = 0
    for i in range(1, year) :
    #윤년 : 400으로 나누어 나머지가 0 and 4로 나누어 나머지가 0
    #평년 : 100으로 나누어 나머지가 0
        if 윤년체크(i) :
            total_days += 366
        else :
            total_days += 365

    print(total_days)
    # 월수 입력한 값-1 * 30
    month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
    for n in range(1,month):
        total_days += month_days[n]
    # 올해가 윤년인지 체크
    if month >= 3 :
        if 윤년체크(year) :
            total_days += 1
            
    print(total_days)
    # 일수 입력값
    total_days += day
    
    print(total_days)
    # 요일 정하기
    remain_days = total_days % 7
    day_names = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일']
    week_day_name = day_names[remain_days]
    
    return week_day_name

In [97]:
years = 2025
month = 6
day = 5
day_name = 요일찾기(year, month, day)
print(f'입력하신 날짜는 {day_name}입니다.')

736329
736480
736485
입력하신 날짜는 월요일입니다.

# 성적처리 시스템

- calc_total()
- calc_average()
- calc_order()

- print_student(students) : 전학생의 성적 출력
- print_class() : 반평균, 각 과목별 평균 출력

In [98]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [118]:
def calc_total(stus) :
    for s in stus:
        s['total'] = s['kor'] + s['eng'] + s['math'] 

def calc_average(stus) :
    for m in stus:
        m['avg'] = m['total'] / 3

def calc_order(stus) :
    for k in stus:
        rank = 1
        for j in stus:
            if j['total'] > k['total']:
                rank += 1
        k['order'] = rank

def print_student(stus) :
    for x in stus:
        print(f"{x['num']}번 {x['name']}학생-국어:{x['kor']}점, 영어:{x['eng']}, 수학:{x['math']}점, 총점:{x['total']}, 평균:{x['avg']}, 등수:{x['order']}등")

def print_class(stus) :
    kor_avg = 0
    eng_avg = 0
    math_avg = 0
    for y in stus:
        kor_avg += y['kor']
        eng_avg += y['eng']
        math_avg += y['math']
    avgavg = (kor_avg+eng_avg+math_avg) / 3
    print(f'국어 평균:{kor_avg/3}, 영어 평균:{eng_avg/3}, 수학 평균:{math_avg/3}, 반평균:{avgavg/3}')

In [122]:
calc_total(students)
calc_average(students)
calc_order(students)
print_student(students)
print_class(students)

1번 김철수학생-국어:90점, 영어:80, 수학:85점, 총점:255, 평균:85.0, 등수:2등
2번 박제동학생-국어:90점, 영어:85, 수학:90점, 총점:265, 평균:88.33333333333333, 등수:1등
3번 홍길동학생-국어:80점, 영어:80, 수학:80점, 총점:240, 평균:80.0, 등수:3등
국어 평균:86.66666666666667, 영어 평균:81.66666666666667, 수학 평균:85.0, 반평균:84.44444444444444

In [121]:
# 강사님 답

In [143]:
def calc_total(stus) :
    for s in stus:
        s['total'] = s['kor'] +  s['eng'] +  s['math'] 

def calc_average(stus):
    for s in stus:
        s['avg'] = (s['kor'] +  s['eng'] +  s['math'])/3 
        
def calc_order(stus):
    
    for student in stus :  #students[0] 자료를 꺼낸 것이 student
        rank = 1
        for other in stus :
            if other['total'] > student['total'] :
                rank += 1
        student['order'] = rank
        #print(student['name'], student['order'])

def print_student(stus):
    for s in stus:
        print(f'이름:{s['name']} 국어: {s['kor']}, 영어: {s['eng']}, 수학:{s['math']}, 등수:{s['order']}')

def print_class(stus):
    class_avg = 0
    count = len(stus)
    class_avg = (sum(student['total'] for student in stus) / count) / 3
    kor_avg = sum(student['kor'] for student in stus) / count
    eng_avg = sum(student['eng'] for student in stus) / count
    math_avg = sum(student['math'] for student in stus) / count
    print(f'반평균: {class_avg} 국어: {kor_avg} 영어: {eng_avg} 수학: {math_avg}')

In [144]:
calc_total(students)
calc_average(students)
calc_order(students)
print_student(students)
print_class(students)

이름:김철수 국어: 90, 영어: 80, 수학:85, 등수:2
이름:박제동 국어: 90, 영어: 85, 수학:90, 등수:1
이름:홍길동 국어: 80, 영어: 80, 수학:80, 등수:3
반평균: 84.44444444444444 국어: 86.66666666666667 영어: 81.66666666666667 수학: 85.0

혼자 "초보자를 위한 파이썬 300제" 연습

In [1]:
def print_coin() :
    print('비트코인')

In [2]:
print_coin()

비트코인

In [3]:
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [5]:
def print_coins() :
    for i in range(100):
        print('비트코인')

In [9]:
def print_with_smile (문자열) :
    print(문자열+':D')
print_with_smile('안녕하세요')

안녕하세요:D

In [11]:
def print_sum(a, b) :
    print(a+b)

In [14]:
def print_arithmetic_operation(a, b) :
    print(f'{a}+{b}=',a+b)
    print(f'{a}-{b}=',a-b)
    print(f'{a}*{b}=',a*b)
    print(f'{a}/{b}=',a/b)

In [15]:
print_arithmetic_operation(3,4)

3+4= 7
3-4= -1
3*4= 12
3/4= 0.75

In [ ]:
def print_max(a, b, c) :
    max_val=0
    if a >

# 람다 함수

선언 : lambda <매개변수> : 코드
호출 : (lambda <매개변수> : 코드) (매개변수값)

In [16]:
def aaa(a):
    result = a+1
    return result

In [17]:
lambda a : a+1

In [20]:
(lambda a: a+1) (2)   #람다의 호출

3

In [22]:
my_lambda = lambda a:a+1   #람다의 재정의
my_lambda(3), my_lambda(4), my_lambda(5)

(4, 5, 6)

In [23]:
def sum1(a, b):
    return a+b
sum1(2,3)

5

In [24]:
(lambda a,b : a+b)(2,3)

5

In [26]:
def calc_func(a,b,opr_func):
    result = opr_func(a,b)
    return result

In [28]:
calc_func(1,2,lambda x,y:x+y)   # 사칙연산

3

In [34]:
# map 함수
fruits = ['apple', 'banana', 'cherry']
# str.upper
# fruits[0].upper() 
list(map(str.upper, fruits))   #str.upper를 fruits한테 적용해. map함수는 이터레이터니까 리스트로 바꿔줘

['APPLE', 'BANANA', 'CHERRY']

In [36]:
str_number = '12345'
list(str_number)   # 문자열 리스트

['1', '2', '3', '4', '5']

In [37]:
int(list(str_number))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [39]:
numbers = list(map(int, str_number))
numbers

[1, 2, 3, 4, 5]

In [41]:
list(map(lambda x:x**2, numbers))

[1, 4, 9, 16, 25]

In [45]:
kor_score = [1,2,3]
eng_score = [4,5,6]
math_score = [7,8,9]
total = list(map(lambda x,y,z:x+y+z, kor_score, eng_score, math_score))
total

[12, 15, 18]

In [ ]:
# 평균, 최대값, 최소값

In [47]:
avg = list(map(lambda x:x/3, total))
avg

[4.0, 5.0, 6.0]

In [50]:
list(map(lambda s:sum(s)/3,zip(kor_score, eng_score, math_score)))   #평균

[4.0, 5.0, 6.0]

In [54]:
list(map(lambda s:max(s) , zip(kor_score, eng_score, math_score)))   # 최댓값

[7, 8, 9]

In [55]:
list(map(lambda s:min(s) , zip(kor_score, eng_score, math_score)))   # 최솟값

[1, 2, 3]

In [48]:
# 강사님 답 zip
kor_score = [1,2,3]
eng_score = [4,5,6]
math_score = [7,8,9]

list(map(lambda s:sum(s), zip(kor_score, eng_score, math_score)))

[12, 15, 18]